.pokemon-list{

  &__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 30px;
    margin-right: 10px;
  }

  &__loading{
    margin: 50px;
    width: 100%;
    text-align: center;
  }
}

