@import "../../colors";

.item-body {
  margin: 50px 4%;
  display: flex;
  flex-direction: row;

  &__image {
    width: 500px;
    text-align: center;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__container {
    flex-basis: 50%;
    margin-left: 30px;
    background: $blue-main;
    color: $yellow;
    border-radius: 20px;
    padding-left: 20px;
  }

  &__text {
    margin-left: 5px;

    &_title {
      margin-top: 30px;
    }
  }

  &__description {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 810px) {
  .item-body {

    .title {
      font-size: 1.2rem;
    }

    .subtitle {
      font-size: 1.1rem;
    }

    .text {
      font-size: 1rem;
    }
  }
}


@media (max-width: 650px) {
  .item-body {
    flex-direction: column;
    align-items: center;

    &__description {
      margin-top: 10px;
    }

    &__text {
      margin-left: 5px;
      margin-right: 5px;

      &_title {
        margin-top: 10px;
      }
    }

    &__image{
      max-width: 300px;
    }
  }
}

@media (max-width: 375px) {
  .item-body {

  }
}
