@import "../../colors";


.card-item{
  justify-self: center;
  margin-top: 30px;
  margin-left: 30px;
  border: 2px solid $blue-main;
  border-radius: 10px;
  max-width: 300px;
  height: 450px;
  overflow: hidden;

  &:hover{
    cursor: pointer;
    box-shadow:1px 1px 8px 1px rgba(60,89,165,0.67);
    -webkit-box-shadow:1px 1px 8px 1px rgba(60,89,165,0.67);
    -moz-box-shadow:1px 1px 8px 1px rgba(60,89,165,0.67);
  }

  &__image{
    padding: 5px;
    height: 400px;
    border-bottom: 2px solid $blue-main;


    img{
      width: 100%;
      object-fit: cover;
    }
    span{

    }
  }

  &__name{
    font-weight: bold;
    font-size: 1.1rem;
    color: red;
    text-align: center;
    margin-top: 10px;
  }
}
