@import 'colors';

.text{
  margin: 0;
  font-size: 1.1rem;
}

.link{
  color: black;

  &:hover{
    cursor: pointer;
    color: $aqua-link;
  }
}

a{
  text-decoration: none;
}

.title{
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0;
}

.subtitle{
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
